<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App"
        android:usesCleartextTraffic="true">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".UserDashboardActivity" />
        <activity android:name=".OperatorsActivity" />
        <activity android:name=".RoutesActivity" />
        <activity android:name=".TripsActivity" />
        <activity android:name=".SearchTripsActivity" />
        <activity android:name=".MyBookingsActivity" />
        <activity android:name=".SeatSelectionActivity" />
        <activity android:name=".BookingConfirmActivity" />
        <activity android:name=".UserManagementActivity" />
        <activity android:name=".PaymentActivity" />
        <activity android:name=".AdminReportsActivity" />
        <activity android:name=".AddTripActivity" />
        <activity android:name=".AddRouteActivity" />
        <activity android:name=".AddOperatorActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".AdminBookingsActivity" />

    </application>

</manifest>
